body {
    background-color:#C2DED1;
    font-family: "Nunito", serif;
}

#navbar {
   font-size: 1.5rem;
   font-weight: 100; 
}

#navbar .nav-link {
    color: white;
}

#navbar :hover {
    color: #FDE534;
}

#navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 100;
}

#navbar .navbar-brand:hover {
    color: #7011F5;
}

#head-tittle {
    font-weight: 100;
    font-size: 4rem;
}

.blurb h2 {
    color: #354259;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #3f4e4f;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 75px;
    margin-bottom: 100px
}

.navbar.scrolled {
    background-color: #c2ded1;
    transtition: background 800ms;
}


@media (max-width: 1200px ) {
    #head-tittle h1 {
        font-size: 100;
        font-size: 3rem;
    }
}